.card {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #f9f9f9;
    margin: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}


.card h1 {
    font-size: 30px;
    margin: 10px 0;
}


.card a {
    display: inline-block;
    margin: 10px 0 15px 0;
    padding: 6px 12px;
    background-color: #ff6f03;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.card a:hover {
    background-color: #fd9556;
}


.card img {
    width: 100%;
    height: auto;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: #ffb871;
    color: white;
    text-align: center;
    align-items: center;
    height: 70px;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: whitesmoke;
}

