body{
    background-color: #fff9e1;
}
.card {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #f9f9f9;
    margin: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}


.card h1 {
    font-size: 30px;
    margin: 10px 0;
}


.card a {
    display: inline-block;
    margin: 10px 0 15px 0;
    padding: 6px 12px;
    background-color: #cf8939;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.card a:hover {
    background-color: #eca47a;
}


.card img {
    width: 100%;
    height: auto;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: #f3cc91;
    color: white;
    text-align: center;
    align-items: center;
    height: 70px;
    justify-content: center;
    font-weight: bold;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    font-family: Dubai;
}

.dettaglio {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

.titolo {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    margin-right: 0.5px;
}

.testo {
    font-size: 20px;
    font-weight: normal;
}

.container{
    background-color: #faf0f0;
    height: 660px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    border-radius: 10px;
    border: 1px solid ;
}

.profilo{
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
    padding: 2px;
    text-decoration: underline;
}

.form {
    max-width: 420px;
    margin: 64px auto;
    padding: 32px;

    background-color: #ffffff;
    border-radius: 18px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.input label {
    font-weight: 600;
    margin-bottom: 5px;
}

.input input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}


.button {
    margin-top: 16px;
    padding: 11px;
    border-radius: 12px;
    border: none;
    background-color: #6366f1;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

