body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#container{
    display: flex;
    flex-direction: row;
    background-color: pink;
    align-items: center;
    justify-content: center;

}

.materia{
   height: 200px;
    width: 300px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
}

#materia1{
 background-image: url("../images/informatica.jpg");
 background-size: cover;

}
#materia2{

}
#materia3{

}
#materia4{

}
#materia5{

}
#materia6{

}
#materia7{

}
